.input-menu {
  @include respond-to('large') {
    border-radius: 2.5rem;
    padding: 0.35vw;
    max-width: 13vw;
    @include font($verdana, $gray);
    @include relative-converter(font-size, vw, $f-small, $min-large);
  }
  @include respond-to('huge') {
    border-radius: 2.5rem;
    padding: 0.15vw;
    max-width: 10vw;
    @include font($verdana, $gray);
    @include relative-converter(font-size, vw, $f-x-small, $min-large);
  }
}
.newsletter__group {
  @include respond-to('large') {
    input {
      border-radius: 0;
      border: none;
      padding: 0.5vw;
      @include font($verdana, $gray);
      @include relative-converter(font-size, vw, $f-medium, $min-large);
    }
  }
  @include respond-to('huge') {
    input {
      border-radius: 0;
      border: none;
      padding: 0.5vw;
      @include font($verdana, $gray);
      @include relative-converter(font-size, vw, $f-small, $min-large);
    }
  }
}
