.aside {
  @include respond-to('large') {
    & .left-list {
      padding-top: 2.25vw;
      & .list-header {
        padding-bottom: 1.5vw;
        border-bottom: 2px solid $gray;
        &__title {
          margin-bottom: 1.75vw;
        }
      }
      & .list-tags {
        padding-top: 1.75vw;
        padding-bottom: 1.25vw;
        border-bottom: 2px solid $gray;
        &__title {
          margin-bottom: 1.75vw;
        }
        &__container {
          display: flex;
          justify-content: space-between;
          padding-left: 4vw;
          width: 27vw;
          li {
            background-color: $blue;
            padding: 0.2vw 0.4vw;
          }
        }
      }
      & .latest-news {
        &__title {
          margin-bottom: 1.75vw;
        }
        &__container {
          margin-bottom: 1.75vw;
          h4 {
            margin-bottom: 1.25vw;
          }
          img {
            //width: 23vw;
          }
        }
      }
    }
  }
}
