.container {
  display: grid;
  @include respond-to('large') {
    grid-template-columns: 30.75vw 30.75vw 34.95vw;
    grid-column-gap: 0.75vw;
    padding-right: 2.8vw;
    & .header {
      grid-column-start: 1;
      grid-column-end: 4;
    }
    & .main {
      grid-column-start: 1;
      grid-column-end: 3;
      & .main-content {
        & .news-list {
          display: grid;
          grid-template-columns: auto auto;
          grid-column-gap: 1.2vw;
        }
      }
    }
    & .aside {
      grid-column-start: 3;
      grid-column-end: 4;
    }
    & .newsletter {
      grid-column-start: 1;
      grid-column-end: 4;
    }
    footer {
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }
}
