.header {
  @include respond-to('large') {
    border-bottom: 2px solid gray;
    & .navigation {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1.5vw;
      & .nav {
        &__list {
          display: flex;
          align-items: center;
          justify-content: center;
          list-style: none;
          & .nav__item {
            margin-left: 2vw;
          }
        }
      }
    }
  }
}
