.main {
  @include respond-to('large') {
    padding-top: 1vw;
    padding-left: 0.75vw;
    & .main-content {
      & .news-list {
        &__container {
          padding: 2vw 0;
          & .news-list__header {
            margin-bottom: 1.75vw;
          }
          & .news-list__body {
            img {
              height: 31.46vw;
            }
            p {
              line-height: 1.4;
              margin: 1.75vw 0;
            }
          }
        }
      }
    }
  }
  @include respond-to('huge') {
    padding-top: 1vw;
    padding-left: 0.75vw;
    & .main-content {
      & .news-list {
        &__container {
          padding: 2vw 0;
          & .news-list__header {
            margin-bottom: 1.75vw;
          }
          & .news-list__body {
            img {
              height: 31.65vw;
            }
            p {
              line-height: 1.4;
              margin: 1.75vw 0;
            }
          }
        }
      }
    }
  }
}
